<section class="content-header">
  <h1>
    <%= I18n.t('activerecord.attributes.user.role') %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @user do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'backend/users/form', f: f %>
        <%= link_to raw("Voltar"), home_path, class: 'btn btn-default' %>
        <%= f.button :submit, 'Salvar', class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</section>
