<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :name %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :institute_id, as: :select, collection: @institutes, include_blank: true,
          selected: (f.object.institute.id if f.object.institute),
          input_html: { class: 'select2', style: 'width: 100%' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <%= f.input :start_at, as: :string, input_html: { class: :datepicker, autocomplete: false,
          value: f.object.start_at ? l(f.object.start_at.to_date): nil } %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.input :hour, as: :string, input_html: { class: :timepicker,
          value: f.object.start_at ? "#{f.object.start_at.hour}:#{f.object.start_at.min}" : nil } %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.label :image, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.enter_event_image') %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :image, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :image_cache %>
            </span>
          </label>
            <input type="text" class="form-control" readonly
              placeholder='<%= @event.image.identifier.present? ? @event.image.identifier : @event.image.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:image)}</div>") unless f.full_error(:image).blank? %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.label :map_url, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.if_possible_add_google_maps_url') %>
        <%= f.input :map_url, label: false %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.label :link, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.if_possible_add_event_site_url') %>
        <%= f.input :link, label: false %>
      </div>
    </div>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <%= raw("<div class='invalid-feedback'>#{f.full_error(:description)}</div>") unless f.full_error(:description).blank? %>
  </div>
</div>
