<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
      <div class="box box-primary">
        <div class="box-body">
          <%= image_tag(@event.image.large.url, class: 'img-box img-fluid') %>
          <div class="row">
            <div class="col-sm-12">
              <h1><%= @event.name %></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= tag_status(@event) %>
              <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.start_date') %>">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= l(@event.start_at) %>
              </span>
              <%= link_to(
                raw(
                  "<span class='info-tags' data-toggle='tooltip' data-placement='top' title='#{ I18n.t('messages.tooltip.link_to_event_location') }'>
                    <i class='fa fa-map-marker' aria-hidden='true'></i> Mapa
                  </span>"),
                @event.map_url
              ) if @event.map_url.present? %>
              <%= link_to(
                raw(
                  "<span class='info-tags' data-toggle='tooltip' data-placement='top' title='#{ I18n.t('messages.tooltip.link_to_event_site') }'>
                    <i class='fa fa-link' aria-hidden='true'></i> Site
                  </span>"),
                @event.link
              ) if @event.link.present? %>
              <span class="text-muted pull-right">
                <%= "#{@event.institute.social_name} #{@event.published_at ? '| ' + l(@event.published_at) : ''}" %>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <%= @event.description %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to raw(I18n.t('button.back')), events_path, class: 'btn btn-default' %>
          <%= link_to raw(I18n.t('button.edit')), edit_event_path(@event), class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
  </div>
</section>
