<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :title %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :subtitle %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :institute_id, as: :select, collection: @institutes, include_blank: true,
          selected: (f.object.institute.id if f.object.institute),
          input_html: { class: 'select2', style: 'width: 100%' } %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.label :image, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.enter_post_image') %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :image, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :image_cache %>
            </span>
          </label>
            <input type="text" class="form-control" readonly
              placeholder='<%= @post.image.identifier.present? ? @post.image.identifier : @post.image.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:image)}</div>") unless f.full_error(:image).blank? %><br>
      </div>
    </div>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
    <%= raw("<div class='invalid-feedback'>#{f.full_error(:content)}</div>") unless f.full_error(:content).blank? %>
  </div>
</div>
