<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12">
              <%= image_tag(@post.image.large.url, class: 'img-box img-fluid') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1><%= @post.title %></h1>
              <h4><%= @post.subtitle %></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= tag_status(@post) %>
              <span class="text-muted pull-right">
                <!-- <i class="fa fa-star" aria-hidden="true"> <%= @post.stargazers_count %></i>
                <i class="fa fa-share-alt" aria-hidden="true"> <%= @post.sharers_count %></i> -->
                <%= "#{@post.institute.social_name} #{@post.published_at ? '| ' + l(@post.published_at) : ''}" %>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <%= @post.content %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to raw(I18n.t('button.back')), posts_path, class: 'btn btn-default' %>
          <%= link_to raw(I18n.t('button.edit')), edit_post_path(@post), class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
  </div>
</section>
