<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :social_name %>
      </div>
      <div class="col-sm-6">
        <%= f.input :trade_name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :cnpj, input_html: { class: :cnpj } %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.label :logo, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.enter_institute_image') %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :logo, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :logo_cache %>
            </span>
          </label>
            <input type="text" class="form-control" readonly
              placeholder='<%= @institute.logo.identifier.present? ? @institute.logo.identifier : @institute.logo.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:logo)}</div>") unless f.full_error(:logo).blank? %><br>
      </div>
    </div>
    <%= f.label :about %>
    <%= f.rich_text_area :about %>
    <%= raw("<div class='invalid-feedback'>#{f.full_error(:about)}</div>") unless f.full_error(:about).blank? %><br>
    <% if current_user.full_manager? %>
      <div class="row">
        <div class="col-md-12">
          <%= f.association :accesses, input_html: { class: 'select2', style: 'width: 100%' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.cnpj').on('input', function(e) {
    $(this).val(function(inputRef, inputValue) {
      return inputValue.replace(/[^\d]/gi, '')
    })
  })
</script>
