<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <% if @institute.logo.present? %>
            <%= image_tag(@institute.logo.medium.url, size: "100x100", class: "profile-user-img show-profile-img img-circle") %>
          <% else %>
            <img src="/default-icon-building.jpg" class="profile-user-img show-profile-img img-circle">
          <% end %>
          <h3 class="profile-username text-center"><%= @institute.trade_name %></h3>
          <p class="text-muted text-center"><%= @institute.social_name %></p>
          <hr>
          <div class="box-slim">
            <p><b><%= I18n.t('activerecord.attributes.institute.cnpj') %>: </b><%= @institute.cnpj %></p>
            <p><b><%= I18n.t('activerecord.attributes.contact.email') %>: </b><%= @institute.contact&.email %></p>
            <p><b><%= I18n.t('activerecord.attributes.contact.phone') %>: </b><%= @institute.contact&.phone %></p>
            <hr>
            <strong><i class="fa fa-map-marker margin-r-5"></i> <%= I18n.t('activerecord.attributes.institute.location') %></strong>
            <p class="text-muted"><%= @institute.address.full %></p>
          </div>
        </div>
      </div>
      <div class="box box-danger">
        <div class="box-header with-border">
          <strong><i class="fa fa-unlock-alt margin-r-5"></i> <h3 class="box-title"><%= I18n.t('activerecord.attributes.institute.accesses') %></h3></strong>
        </div>
        <div class="box-body">
          <p>
          <% @institute.accesses.each do |access| %>
            <span class="label label-primary"><%= access.name %></span>
          <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t('activerecord.attributes.institute.about') %></h3>
        </div>
        <div class="box-body box-body-info">
          <% if @institute.about.present? %>
            <div class="box box-solid box-content-info">
              <%= @institute.about %>
            </div>
          <% else %>
            <%= I18n.t('general.undefined') %>
          <% end %>
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t('activerecord.models.setting.one') %></h3>
        </div>
        <div class="box-body">
          <p><b><%= I18n.t('activerecord.attributes.setting.max_ads') %>: </b><%= @institute.setting.max_ads %></p>
        </div>
      </div>
    </div>
    <%= render 'backend/items/list', institute: @institute %>
  </div>
  <%= link_to raw(I18n.t('button.back')), institutes_path, class: 'btn btn-default' %>
  <%= link_to raw(I18n.t('button.edit')), edit_institute_path(@institute), class: "btn btn-primary pull-right" %>
</section>
