<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('activerecord.models.setting.one') %></h3>
  </div>
  <div class="box-body">
    <%= f.simple_fields_for :setting_attributes, f.object.setting || f.object.build_setting do |ff| %>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= ff.input :max_ads %>
        </div>
      </div>
    <% end %>
  </div>
</div>
