<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :name %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.label :logo, data: { toggle: :tooltip, placement: :right },
          title: 'Insira uma imagem que represente a Entidade' %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :logo, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :logo_cache %>
            </span>
          </label>
          <input type="text" class="form-control" readonly
          placeholder='<%= f.object.logo.identifier.present? ? f.object.logo.identifier : f.object.logo.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:logo)}</div>") unless f.full_error(:logo).blank? %><br>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <%= link_to raw("Voltar"), research_path(@research), class: 'btn btn-default' %>
    <%= f.button :submit, 'Salvar', class: "btn btn-primary pull-right" %>
  </div>
  <%= f.input :research_id, as: :hidden, input_html: { value: @research.id } %>
</div>
