<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><%= I18n.t('activerecord.models.sponsor.other') %></h3>
    </div>
    <div class="box-body">
      <div id="table_list_wrapper" class="form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table id="table_list" class="table" role="grid">
                <div class="content-action-new col-sm-6">
                  <%= link_to raw("<i class='fa fa-plus'></i> Cadastrar"),
                    new_research_sponsor_path(research), class: 'btn btn-sm btn-primary btn-new' %>
                </div>
                <thead>
                  <tr role="row">
                    <th><%= I18n.t('activerecord.attributes.sponsor.name')%></th>
                  </tr>
                </thead>
                <tbody>
                  <% research.sponsors.each do |item| %>
                    <tr id="<%= dom_id item %>">
                      <td>
                        <%= item.name %>
                      </td>
                      <td class="text-center">
                        <%= link_to raw("<i class='fa fa-eye icon-action'></i>"),
                          research_sponsor_path(research, item), data: { toggle: :tooltip, placement: :top },
                          title: I18n.t('button.view') %>
                        <%= link_to raw("<i class='fa fa-pencil-square-o icon-action'></i>"),
                          edit_research_sponsor_path(research, item), data: { toggle: :tooltip, placement: :top },
                          title: I18n.t('button.edit') %>
                        <%= link_to raw("<i class='fa fa-trash icon-action red'></i>"),
                          research_sponsor_path(research, item), method: :delete,
                          data: { confirm: I18n.t('messages.confirm.sure'), toggle: :tooltip, placement: :top },
                          title: I18n.t('button.destroy') %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
