<section class="content-header">
  <h1>
    <%= I18n.t('crud.register', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @sponsor, url: research_sponsors_path do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'backend/sponsors/form', f: f %>
      </div>
    </div>
  <% end %>
</section>
