<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <%= image_tag(@sponsor.logo.medium.url, class: 'img-box img-fluid') %>
        <div class="box-body">
          <h3 class="profile-username text-center"><%= @sponsor.name %></h3>
        </div>
      </div>
    </div>
  </div>
  <%= link_to raw(I18n.t('button.back')), research_path(@research), class: 'btn btn-default' %>
  <%= link_to raw(I18n.t('button.edit')), edit_research_sponsor_path(@research, @sponsor), class: "btn btn-primary pull-right" %>
</section>
