<p class="login-box-msg">Entre com seus dados para ter acesso!</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
    class: "form-control", placeholder: "Email" %>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password, autocomplete: "current-password",
    class: "form-control", placeholder: "Senha" %>
  </div>

  <div class="row">
    <div class="actions col-xs-12">
      <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
