<div class="bootbox modal in" id="link-to-research">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= I18n.t('general.select.research') %></h4>
      </div>
      <% if params[:action] != 'index' %>
        <div class="modal-body">
          <p><%= I18n.t('messages.general.connect_company_to_research') %></p>
          <%= f.input :research, required: false, collection: [],
            input_html: { class: 'select2', style: 'width: 100%' } %>
        </div>
        <div class="modal-footer">
          <div class="pull-rigth">
            <%= f.button :submit, I18n.t('false'), class: "btn btn-default" %>
            <%= f.button :submit, I18n.t('true'), class: "btn btn-primary" %>
          </div>
        </div>
      <% else %>
        <%= simple_form_for :connect_to_research, url: companies_link_company_to_research_path,
          method: :get do |f| %>
          <div class="modal-body">
            <p><%= I18n.t('messages.general.connect_company_to_research') %></p>
            <%= f.hidden_field :company %>
            <%= f.input :research, collection: [],
                  input_html: { class: 'select2', style: 'width: 100%' }%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left"
              data-dismiss="modal"><%= I18n.t('button.back') %></button>
              
            <%= f.button :submit, I18n.t('true'), class: "btn btn-primary", id: "confirm-button" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
