<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-12">
            <div class="row">
              <%= link_to raw("<i class='fa fa-plus'></i> " << I18n.t('button.register')), new_company_path,
                class: 'btn btn-sm btn-primary btn-new' %>
              <div class="pull-right", style="padding: 0px !important;">
                <%= render 'layouts/application/search', path: companies_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table id="table_list" class="table" role="grid">
              <thead>
                <tr role="row">
                  <th class="col-sm-3"><%= I18n.t('activerecord.attributes.company.social_name') %></th>
                  <th class="col-sm-3"><%= I18n.t('activerecord.attributes.company.trade_name') %></th>
                  <th class="col-sm-3"><%= I18n.t('activerecord.attributes.company.institute_id') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('activerecord.attributes.company.cnpj') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('activerecord.attributes.company.category_id') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @companies.each do |object| %>
                  <tr id="<%= dom_id object %>">
                    <td>
                      <%= object.social_name %>
                    </td>
                    <td>
                      <%= object.trade_name %>
                    </td>
                    <td>
                      <%= object.institute.trade_name %>
                    </td>
                    <td class="text-center">
                      <%= object.cnpj %>
                    </td>
                    <td class="text-center">
                      <%= object.category.name %>
                    </td>
                    <td class="text-center">
                      <%= link_to raw("<i class='fa fa-eye icon-action'></i>"),
                        company_path(object), data: { toggle: :tooltip, placement: :top },
                        title: I18n.t('button.view') %>

                      <%= link_to raw("<i class='fa fa-pencil-square-o icon-action'></i>"),
                        edit_company_path(object), data: { toggle: :tooltip, placement: :top },
                        title: I18n.t('button.edit') %>

                      <%= link_to raw("<i class='fa fa-trash icon-action red'></i>"),
                        company_path(object), method: :delete,
                        data: { confirm: I18n.t('messages.confirm.sure'), toggle: :tooltip, placement: :top },
                        title: I18n.t('button.destroy') %>

                      <a data-toggle="tooltip" data-placement="top" class="associate_button <%= object.id %>"
                        style="cursor: pointer" data-original-title="<%= I18n.t('button.associate_to_research') %>">
                        <i class="fa fa-search-plus icon-action"></i>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= render 'layouts/application/pagination' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'connect_to_research' %>

<script>
  $('.associate_button').click(function(event){
    var companyId = event.currentTarget.classList[1]

    $.get('/researches/active_awating?company_id=' + companyId).done(function(researches){
      if(researches.length) {
        options = ['<option value=""></option>']
        researches.forEach(research => options.push('<option value="'+ research.id +'">' + research.name + '</option>'))
      } else {
        options = ['<option value="">Nenhuma pesquisa disponível</option>']
      }
      
      $('#connect_to_research_research').html(options)
      $('#connect_to_research_company').val(companyId)
      $('#link-to-research').modal('show')
    })
  })

  $('#confirm-button').click(function(event){
    if (!$('#connect_to_research_research').val()) {
      event.preventDefault()
      $('#link-to-research').modal('hide')
    }
  })
</script>
