<section class="content-header">
  <h1>
    <%= I18n.t('crud.register', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @company do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'backend/companies/form', f: f %>
        <%= render 'backend/contacts/form', f: f %>
        <%= render 'backend/addresses/form', f: f %>
        <%= link_to raw(I18n.t('button.back')), companies_path, class: 'btn btn-default' %>
        <%= f.button :submit, I18n.t('button.save'), class: "btn btn-primary pull-right", id: "submit-button" %>
        <%= render 'connect_to_research', f: f %>
      </div>
    </div>
  <% end %>
</section>

<script>
  $('#submit-button').click(function(e){
    e.preventDefault()

    var institute_id = $('#company_institute_id').val()
    
    if (institute_id) {
      $.get('/researches/active_awating?institute_id=' + institute_id).done(function(researches){
        if(researches.length) {
          options = ['<option value=""></option>']

          researches.forEach(research => {
            options.push('<option value="'+ research.id +'">' + research.name + '</option>'
          })

          $('#company_research').html(options)
          $('#link-to-research').modal('show')
        } else {
          $('#new_company').submit();
        }
      })
    }
  })
</script>
