<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <% if @company.logo.present? %>
            <%= image_tag(@company.logo.medium.url, size: "100x100", class: "profile-user-img show-profile-img img-circle") %>
          <% else %>
            <img src="/default-icon-building.jpg" class="profile-user-img show-profile-img img-circle">
          <% end %>
          <h3 class="profile-username text-center"><%= @company.trade_name %></h3>
          <p class="text-muted text-center"><%= @company.social_name %></p>
          <hr>
          <div class="box-slim">
            <p>
              <b><%= I18n.t('activerecord.attributes.company.cnpj') %>: </b><%= @company.cnpj %>
            </p>
            <p>
              <b><%= I18n.t('activerecord.attributes.company.email') %>: </b><%= @company.contact&.email %>
            </p>
            <p>
              <b><%= I18n.t('activerecord.attributes.contact.phone') %>: </b><%= @company.contact&.phone %>
            </p>
            <hr>
            <strong>
              <i class="fa fa-university margin-r-5"></i> <%= I18n.t('activerecord.attributes.company.institute_id') %>
            </strong>
            <p class="text-muted"><%= @company.institute.social_name %></p>
            <hr>
            <strong>
              <i class="fa fa-th-large margin-r-5"></i> <%= I18n.t('activerecord.attributes.company.category_id') %>
            </strong>
            <p class="text-muted"><%= @company.category.name %></p>
            <hr>
            <strong>
              <i class="fa fa-map-marker margin-r-5"></i> <%= I18n.t('activerecord.attributes.company.location') %>
            </strong>
            <p class="text-muted"><%= @company.address.full %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t('activerecord.attributes.company.about') %></h3>
        </div>
        <div class="box-body box-body-info">
          <% if @company.about.present? %>
            <div class="box box-solid box-content-info">
              <%= @company.about %>
            </div>
          <% else %>
            <%= I18n.t('general.undefined') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to raw(I18n.t('button.back')), companies_path, class: 'btn btn-default' %>
  <%= link_to raw(I18n.t('button.edit')), edit_company_path(@company), class: "btn btn-primary pull-right" %>
</section>
