<div class="mail-div-head">
  <h2 class="mail-head">Lista de Ganhadores</h2>
</div>

<div>
  <p><b class="user-head">Olá, <%= @raffle.company.trade_name %>!</b></p>
</div>

<div>
  <p>Já temos a lista dos ganhadores do sorteio: <b><%= @raffle.name %></b></p>
</div>

<div>
  <p>Segue abaixo as informações do(s) ganhador(es):</p>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Código de Participação</th>
      </tr>
    </thead>
    <tbody>
      <% @winners.each do |winner| %>
        <tr>
          <td><%= winner.user.name %></td>
          <td><%= winner.user.email %></td>
          <td><%= winner.token %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
