<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#participants" data-toggle="tab">
        <i class="fa fa-ticket"></i> <%= I18n.t('activerecord.models.research_participant.other') %>
      </a>
    </li>
    <li>
      <a href="#winners" data-toggle="tab">
        <i class="fa fa-trophy"></i> <%= I18n.t('general.winners') %>
      </a>
    </li>
  </ul>
  <div class="tab-content box-body-tickets">
    <div class="tab-pane active" id="participants">
      <div class="box-content-tickets">
        <div class="box-footer box-comments">
          <%= I18n.t('messages.tooltip.no_raffle_participants') if @raffle.tickets.blank? %>
          <% @raffle.tickets.each do |ticket| %>
            <div class="box-comment">
              <% if current_user.avatar.present? %>
                <%= image_tag(ticket.user.avatar_url, class: 'img-circle img-sm') %>
              <% else %>
                <img src="/default-icon-user.jpg" class="img-circle img-sm">
              <% end %>
              <div class="comment-text">
                <span class="username">
                  <%= ticket.user.name %>
                  <span class="text-muted pull-right"></span>
                </span>
                <%= I18n.t('general.participation_code') %>: <b><%= ticket.token %></b>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="winners">
      <div class="box-content-tickets">

        <div class="box-footer box-comments">
          <%= I18n.t('messages.tooltip.no_raffle_winners') if @raffle.tickets.raffled.blank? %>
          <% @raffle.tickets.raffled.each do |ticket| %>
            <div class="box-comment">
              <% if current_user.avatar.present? %>
                <%= image_tag(ticket.user.avatar_url, class: 'img-circle img-sm') %>
              <% else %>
                <img src="/default-icon-user.jpg" class="img-circle img-sm">
              <% end %>
              <div class="comment-text">
                <span class="username">
                  <%= ticket.user.name %>
                  <span class="text-muted pull-right"></span>
                </span>
                <%= I18n.t('general.participation_code') %>: <b><%= ticket.token %></b>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
