<div class="mail-div-head">
  <h2 class="mail-head">Cupom da Promoção</h2>
</div>

<div>
  <p><b class="user-head">Olá, <%= @promotion.company.trade_name %>!</b></p>
</div>

<div>
  <p>Alguém garantiu um cupom da promoção: <b><%= @promotion.name %></b></p>
</div>

<div>
  <p>Segue abaixo as informações do solicitante:</p>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Código do cupom</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @coupon.user.name %></td>
        <td><%= @coupon.user.email %></td>
        <td><%= @coupon.token %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <p>Restam apenas: <b><%= @available_coupons %></b> cupons</p>
</div>
