<div class="mail-div-head">
  <h2 class="mail-head">Cupom da Promoção</h2>
</div>

<div>
  <p><b class="user-head">Olá, <%= @user.name %>!</b></p>
</div>

<div>
  <p>Você ganhou um cupom da promoção: <b><%= @promotion.name %></b></p>
</div>

<div>
  <p>Segue abaixo código para validação:</p>
</div>

<div>
  <p><%= @coupon.token %></p>
</div>
