<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('activerecord.models.address.one') %></h3>
  </div>
  <div class="box-body">
    <%= f.simple_fields_for :address_attributes, f.object.address || f.object.build_address do |a| %>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <%= a.input :street %>
        </div>
        <div class="col-md-3 col-sm-6">
          <%= a.input :district %>
        </div>
        <div class="col-md-3 col-sm-6">
          <%= a.input :number, input_html: { class: :positive } %>
        </div>
        <div class="col-md-3 col-sm-6">
          <%= a.input :complement %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <%= a.input :country, as: :select, include_blank: true, collection: @countries,
            selected: (f.object.country.id if f.object.city), input_html: { class: 'select2', style: 'width: 100%' } %>
        </div>
        <div class="col-md-4 col-sm-12">
          <%= a.input :state, as: :select, include_blank: true, collection: @states,
            selected: (f.object.state.id if f.object.city), input_html: { class: 'select2', style: 'width: 100%' } %>
        </div>
        <div class="col-md-3 col-sm-12">
          <%= a.input :city_id, as: :select, collection: @cities, include_blank: true,
            selected: (f.object.city.id if f.object.city), input_html: { class: 'select2', style: 'width: 100%' } %>
        </div>
        <div class="col-md-3 col-sm-12">
          <%= a.input :zipcode, input_html: { class: 'zipcode', maxlength: 8 } %>
        </div>
        <div class="col-sm-12">
          <%= a.label :map_url, data: { toggle: :tooltip, placement: :right },
            title: I18n.t('messages.tooltip.if_possible_add_an_google_maps_url')%>
          <%= a.input :map_url, label: false %>
        </div>
      </div>
    <% end %>
  </div>
</div>
