<section class="content">
  <div class="error-page">
    <h2 class="headline text-blue" style="margin-top: -16px;">403</h2>
    <div class="error-content">
      <h3><i class="fa fa-warning text-blue"></i> Oops! Acesso Negado.</h3>
      <p>
        Sinto muito, mas você não tem permissão para acessar está página.
        Enquanto isso, você pode <a href="/">retornar para a dashboard</a>
      </p>
    </div>
  </div>
</section>
