<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow" style="margin-top: -16px;">404</h2>
    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada.</h3>
      <p>
        Não foi possível encontrar a página que você estava procurando.
        Enquanto isso, você pode <a href="/">retornar para a dashboard</a>
      </p>
    </div>
  </div>
</section>
