<section class="content">
  <div class="error-page">
    <h2 class="headline text-red" style="margin-top: -16px;">500</h2>
    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Oops! Algo deu errado.</h3>
      <p>
        Vamos trabalhar para consertar isso imediatamente.
        Enquanto isso, você pode <a href="/">retornar para a dashboard</a>
      </p>
    </div>
  </div>
</section>
