@import 'select2/src/scss/core';
@import 'bootstrap-slider/src/sass/bootstrap-slider';
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import 'bootstrap-timepicker/css/bootstrap-timepicker.min.css';
@import 'datatables.net-select-bs/css/select.bootstrap.min.css';
@import 'trix/dist/trix.css';

.slider-selection {
	background: #3c8dbc;
}

.slider-handle {
  background-color: #2f6390;
  background-image: -webkit-linear-gradient(top, #245a8a 0%, #1f4b70 100%);
  background-image: -o-linear-gradient(top, #245a8a 0%, #1f4b70 100%);
  background-image: linear-gradient(to bottom, #245a8a 0%, #1f4b70 100%);
}

.icon-action {
  font-size: 16px;
  padding: 2px;
}

.btn-new {
  float: left;
}

.red {
  color: #dd4b39;
}

.green {
  color: #00a65a;
}

.grey {
  color: #555555;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-box {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.img-box-research {
  max-height: 120px;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.btn-add {
  margin-bottom: 23px !important;
}

.btn-remove {
  margin-top: 24px !important;
}

.table-responsive {
  border: 0px !important;
}

.info-tags {
  color: #777777;
  padding-left: 10px;
}

.callout-primary {
  background-color: #3c8dbc29;
  border-color: #3c8dbc61;
  padding: 15px 30px 15px 15px !important;
  margin: 0 0 10px 0 !important;
}

.invalid-feedback {
  color: #dd4b39;
}

.form-check-input {
  padding-top: 25px;
}

.form-check-label {
  padding-left: 5px !important;
}

.show-profile-img {
  display: block
}

.box-body-info {
  height: 518px;
  min-height: 518px;
  max-height: 518px;
}

.box-body-tickets {
  max-height: 550px;
}

.box-body-research {
  height: 270px;
  min-height: 270px;
  max-height: 270px;
}

.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

.trix-button--icon-code,
.trix-button--icon-quote,
.trix-button--icon-strike {
  display: none;
}

.modal-lg {
  width: 80% !important;
}
