<div class="mail-div-head">
  <h2 class="mail-head">Esqueceu sua senha?</h2>
</div>

<div>
  <p><b class="user-head">Olá, <%= @user.name %></b></p>
</div>

<div>
  <p>Utilize este link:</p>
</div>

<div>
  <p><%= link_to 'Alterar minha senha', edit_password_url(@user, reset_password_token: @token) %></p>
</div>

<div>
  <p>para solicitar uma nova!</p>
</div>

<div>
  <p>Se você não solicitou isso, ignore este e-mail.</p>
</div>

<div>
  <p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
</div>