<div class="modal fade" id="modal-window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= I18n.t('general.select.institute') %></h4>
      </div>
      <%= simple_form_for Promotion.new, method: :get, url: new_promotion_path do |f| %>
        <div class="modal-body">
          <%= f.input :institute_id, as: :select, collection: @institutes,
            input_html: { class: 'select2', style: 'width: 100%' } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= I18n.t('button.back') %></button>
          <%= f.button :submit, 'Próximo', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
