<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :name %>
      </div>
      <div class="col-md-3 col-sm-12">
        <%= f.input :amount_available, input_html: { class: :positive } %>
      </div>
      <div class="col-md-3 col-sm-12">
        <%= f.input :expires_at, as: :string, input_html: { class: :datepicker, autocomplete: false,
          value: f.object.expires_at ? l(f.object.expires_at): nil } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :institute, as: :string, collection: @institutes, disabled: true,
          input_html: { value: f.object.institute.present? ? f.object.institute.social_name : @institute.social_name } %>
        <%= f.input :institute_id, as: :hidden,
          input_html: { value: f.object.institute.present? ? f.object.institute.id : @institute.id } %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :company_id, as: :select, collection: @companies, include_blank: true,
          selected: (f.object.company.id if f.object.company),
          input_html: { class: 'select2', style: 'width: 100%' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <%= f.input :single, wrapper_html: { class: 'form-check-input'} %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.input :research_id, as: :select, collection: @researches, include_blank: true,
          selected: (f.object.research.id if f.object.research),
          input_html: { class: 'select2', style: 'width: 100%' },
          wrapper_html: { class: :hidden }
        %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :votes_needed, input_html: { class: :positive }, wrapper_html: { class: :hidden } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= f.label :image, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.enter_promotion_image') %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :image, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :image_cache %>
            </span>
          </label>
            <input type="text" class="form-control" readonly
              placeholder='<%= @promotion.image.identifier.present? ? @promotion.image.identifier : @promotion.image.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:image)}</div>") unless f.full_error(:image).blank? %><br>
      </div>
    </div>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <%= raw("<div class='invalid-feedback'>#{f.full_error(:description)}</div>") unless f.full_error(:description).blank? %>
  </div>
  <div class="box-footer">
    <%= link_to raw(I18n.t('button.back')), promotions_path, class: 'btn btn-default' %>
    <%= f.button :submit, I18n.t('button.save'), class: "btn btn-primary pull-right" %>
  </div>
</div>

<script>
  $(function(){
    checkSingle($('#promotion_single')[0])

    $('#promotion_single').on('change', function() {
      checkSingle(this)
    })
  })

  function checkSingle(el) {
    debugger
    if (el.checked) {
      $('.promotion_research_id').addClass('hidden')
      $('.promotion_votes_needed').addClass('hidden')
      $('#promotion_research_id').attr('disabled', true)
      $('#promotion_votes_needed').attr('disabled', true)
    } else {
      $('.promotion_research_id').removeClass('hidden')
      $('.promotion_votes_needed').removeClass('hidden')
      $('#promotion_research_id').attr('disabled', false)
      $('#promotion_votes_needed').attr('disabled', false)
    }
  }
</script>
