<section class="content-header">
  <h1>
    <%= I18n.t('crud.edit', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @promotion do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'backend/promotions/form', f: f %>
      </div>
    </div>
  <% end %>
</section>
