<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-12">
            <div class="row">
              <button type="button" class="btn btn-sm btn-primary btn-new"
                data-toggle="modal" data-target="#modal-window">
                <i class='fa fa-plus'></i> <%= I18n.t('button.register') %>
              </button>
              <div class="pull-right", style="padding: 0px !important;">
                <%= render 'layouts/application/search', path: promotions_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div id="table_list_wrapper" class="form-inline dt-bootstrap">
          <div class="table-responsive">
            <table id="table_list" class="table" role="grid">
              <div class="content-action-new content-action-new col-sm-6">
              </div>
              <thead>
                <tr role="row">
                  <th><%= I18n.t('activerecord.attributes.promotion.name')%></th>
                  <th><%= I18n.t('activerecord.attributes.promotion.company')%></th>
                  <th class="text-center"><%= I18n.t('activerecord.attributes.promotion.amount_available')%></th>
                  <th class="text-center"><%= I18n.t('activerecord.attributes.promotion.status')%></th>
                  <th class="text-center"><%= I18n.t('activerecord.attributes.promotion.expires_at')%></th>
                  <th class="text-center"><%= I18n.t('actions')%></th>
                </tr>
              </thead>
              <tbody>
                <% @promotions.each do |object| %>
                  <tr id="<%= dom_id object %>">
                    <td>
                      <%= object.name %>
                    </td>
                    <td>
                      <%= object.company.trade_name %>
                    </td>
                    <td class="text-center">
                      <%= object.amount_available %>
                    </td>

                    <td class="text-center">
                      <%= tag_status(object) %>
                    </td>
                    <td class="text-center">
                      <%= l(object.expires_at) %>
                    </td>
                    <td class="text-center" style="width: 150px;">
                      <% if object.awaiting? %>
                        <%= link_publish(object, path: :publish_promotion_path) %>
                        <%= link_cancel_publication(object, path: :cancel_publication_promotion_path) %>
                      <% end %>

                      <%= link_show(object, path: :promotion_path) %>
                      <%= link_edit(object, path: :edit_promotion_path) %>
                      <%= link_destroy(object, path: :promotion_path) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= render 'layouts/application/pagination' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'backend/promotions/define_institute' %>
