<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12">
              <%= image_tag(@promotion.image.large.url, class: 'img-box img-fluid') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1><%= @promotion.name %></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= tag_status(@promotion) %>
              <% unless @promotion.single? %>
                <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.reference_research') %>">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <%= @promotion.research.name %>
                </span>
                <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.votes_needed') %>">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <%= "#{@promotion.votes_needed}" %>
                </span>
              <% end %>
              <span class="info-tags" data-toggle="tooltip" data-placement="top" title="Disponíveis">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <%= @promotion.amount_available %>
              </span>
              <span class="info-tags" data-toggle="tooltip" data-placement="top" title="Validade">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= l(@promotion.expires_at) %>
              </span>
              <span class="text-muted pull-right">
                <!-- <i class="fa fa-star" aria-hidden="true"> <%= @promotion.stargazers_count %></i>
                <i class="fa fa-share-alt" aria-hidden="true"> <%= @promotion.sharers_count %></i> -->
                <%= "#{@promotion.company.trade_name} #{@promotion.published_at ? '| ' + l(@promotion.published_at) : ''}" %>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <%= @promotion.description %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to raw(I18n.t('button.back')), promotions_path, class: 'btn btn-default' %>
          <%= link_to raw(I18n.t('button.edit')), edit_promotion_path(@promotion), class: "btn btn-primary pull-right" if policy(@promotion).edit? %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <%= render 'backend/coupons/list' %>
    </div>
  </div>
</section>
