<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12">
              <%= image_tag(@raffle.image.large.url, class: 'img-box img-fluid') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1><%= @raffle.name %></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= tag_status(@raffle) %>
              <% unless @raffle.single? %>
                <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.reference_research') %>">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <%= @raffle.research.name %>
                </span>
                <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.votes_needed') %>">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                  <%= "#{@raffle.votes_needed}" %>
                </span>
              <% end %>
              <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.available') %>">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                <%= @raffle.amount_available %>
              </span>
              <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.raffle_day') %>">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= l(@raffle.raffled_at) %>
              </span>
              <span class="text-muted pull-right">
                <!-- <i class="fa fa-star" aria-hidden="true"> <%= @raffle.stargazers_count %></i>
                <i class="fa fa-share-alt" aria-hidden="true"> <%= @raffle.sharers_count %></i> -->
                <%= " #{@raffle.company.trade_name} #{@raffle.published_at ? '| ' + l(@raffle.published_at) : ''}" %>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h4><%= I18n.t('activerecord.attributes.raffle.description') %></h4>
              <%= @raffle.description %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h4><%= I18n.t('activerecord.attributes.raffle.regulation') %></h4>
              <%= @raffle.regulation %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to raw(I18n.t('button.back')), raffles_path, class: 'btn btn-default' %>
          <%= link_to raw(I18n.t('button.edit')), edit_raffle_path(@raffle), class: "btn btn-primary pull-right" if policy(@raffle).edit? %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <%= render 'backend/tickets/list' %>
    </div>
  </div>
</section>
