<section class="content-header">
  <h1>
    <%= I18n.t('report.one') %> - <%= I18n.t('activerecord.models.research.one') %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for :research_report,
    url: report_researches_report_path,
    method: :get do |f| %>
    <div class="box box-primary">
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            <%= f.input :research, required: true, collection: @researches,
                input_html: { class: 'select2', style: 'width: 100%' }%>
          </div>
          <div class="col-md-4">
            <%= f.input :ranking, required: true, collection: @ranking_type,
                label_method: lambda { |item| I18n.t('report.research.ranking.' << item) },
                input_html: { class: 'select2', style: 'width: 100%' } %>
          </div>
          <div class="col-md-4">
            <%= f.input :category, required: false, collection: [],
                input_html: { class: 'select2', style: 'width: 100%' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <%= f.input :company, required: false, collection: [],
                input_html: { class: 'select2', style: 'width: 100%' } %>
          </div>
          <div class="col-md-4">
            <%= f.label :period, required: false %>
            <div class="input-group">
              <%= f.input :start_at, label: false, as: :string,
                input_html: { class: :datepicker, autocomplete: 'off'} %>
              <div class="input-group-addon"><%= I18n.t('report.research.general_labels.until') %></div>
              <%= f.input :end_at, label: false, as: :string,
                input_html: { class: :datepicker, autocomplete: 'off'} %>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <%= f.button :submit, I18n.t('report.research.general_labels.filter'),
          class: "btn btn-primary pull-right", id: "submit-button" %>
      </div>
    </div>
  <% end %>
</section>

<script>
  var researchError = '<%= "#{I18n.t('activerecord.models.research.one')} #{I18n.t('report.research.error.required')}" %>'
  var rankingError = '<%= "#{I18n.t('report.research.general_labels.classification_type')} #{I18n.t('report.research.error.required')}" %>'

  $('.research_report_research').append('<span id="research-error" class="invalid-feedback" ></span>')
  $('.research_report_ranking').append('<span id="ranking-error" class="invalid-feedback" ></span>')

  $("[id$='research_report_category']").change(function(event) {
    if ($(this).val()) {
      $.get('/companies/from_research?category_id=' + $(this).val() +
        '&research_id='+ $(this).children('option:selected').attr('from_research'),
        function(companies) {
          options = ['<option value=""></option>']
          companies.forEach(company => {
            options.push('<option value="'+ company.id +'"">'+ company.trade_name + ' - ' + company.address.street + '</option>')
          })

          $("[id$='research_report_company']").html(options)
        })
    } else {
      $("[id$='research_report_company']").html('<option value=""></option>')
    }
  })

  $('#research_report_research').change(function() {
    var researchId = $(this).val()

    $.get('/researches/' + researchId + '/get_research_json', function(research){
      $('#research_report_start_at')
        .datepicker('setStartDate', research.start_at)
        .datepicker('setEndDate', research.end_at)
        .datepicker('clearDates')

      $('#research_report_end_at')
        .datepicker('setEndDate', research.end_at)
        .datepicker('setStartDate', research.start_at)
        .datepicker('clearDates')
    })

    $.get('/categories/from_research?research_id='+researchId, function(categories){
      options = ['<option value=""></option>']
      categories.forEach(category => {
        options.push('<option value="'+ category.id +'" from_research="' +
          researchId + '">' + category.name + '</option>')
      })

      $("[id$='research_report_category']").html(options)
    })

    $.get('/companies/from_research?research_id='+researchId, function(companies){
      options = ['<option value=""></option>']
      companies.forEach(company => {
        options.push('<option value="'+ company.id +'"">'+  company.trade_name + ' - ' + company.address.street + '</option>')
      })

      $("[id$='research_report_company']").html(options)
    })
  })

  $("[id$='research_report_ranking']").change(function() {
    if ($(this).val() == 'category') {
      $("[id$='research_report_category']").val('').trigger('change').prop('disabled', 'disabled')
      $("[id$='research_report_company']").val('').trigger('change').prop('disabled', 'disabled')
    } else {
      $("[id$='research_report_category']").prop('disabled', false)
      $("[id$='research_report_company']").prop('disabled', false)
    }
  })

  $('form.research_report').submit(function (event) {
    $('#research-error').html('')
    $('#ranking-error').html('')

    $('select.required').each(function() {
      if(!$(this).val()) {
        event.preventDefault()
        switch ($(this).attr('id')) {
          case 'research_report_research':
            $('#research-error').html(researchError)
            break
          case 'research_report_ranking':
            $('#ranking-error').html(rankingError)
            break
        }
      }
    })
  })

  $("[id$='report_research'], [id$='report_ranking']").change(function() {
    $('#submit-button').prop('disabled', false)
  })
</script>
