<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= I18n.t('report.one') %></title>
  </head>
  <body>
    <div class="header">
      <table>
        <tbody>
          <tr>
            <td>
              <%= image_tag(@logo.medium.url.gsub("https", "http"), class: "style_image") %>
            </td>
            <td class="text-center" colspan="3">
              <h1><%= params["research"]["name"] %></h1>
            </td>
          </tr>
          <tr>
            <td>
              <%= I18n.t('report.research.general_labels.type') %>: <br>
              <%=I18n.t('report.research.ranking.' << params["type"])%>
            </td>
            <td>
              <%= I18n.t('report.research.general_labels.generated_at') %>:
              <%= I18n.l(DateTime.current, format: :default_without_seconds) %>
              <br> <%= I18n.t('report.research.general_labels.by') %>: <%= @current_user.name %>
            </td>
            <td>
              <%= I18n.t('report.research.general_labels.period') %>: <br>
              <%= "#{params["period"]["start"]} - #{params["period"]["end"]}" %>
            </td>
            <td>
              <%= I18n.t('report.research.general_labels.filters') %>:
              <% if params["filters"]["category_name"].present? %>
                <br><%= I18n.t('activerecord.models.category.one') %>:
                <%= params["filters"]["category_name"] %>
              <% end %>

              <% if params["filters"]["company_name"].present? %>
                <br><%= I18n.t('activerecord.models.company.one') %>:
                <%= params["filters"]["company_name"] %>
              <% end %>

              <% if params["filters"]["category_name"].blank? && params["filters"]["company_name"].blank? %>
                <%= I18n.t('report.research.general_labels.none') %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="body">
      <table>
        <thead>
          <tr role="row">
            <% params["titles"].each do |title| %>
              <th class="text-center">
                <%= title %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% JSON[params["data"]].each do |data_row| %>
            <tr>
              <% data_row.each do |data| %>
                <td class="text-center">
                  <%= data %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>

<style>
  td {
    max-height: 50px;
  }

  .style_image {
    width: 60%;
  }

  .text-center {
    text-align: center
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }

  td, th {
    border: 1px solid #c9c9c9;
  }

  td, th {
    padding: 8px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tbody>tr:nth-child(odd) {
    background-color: #ddd;
  }

  .header>p {
    font-weight: bold;
  }

  .header {
    border: 1px solid #c9c9c9;
  }

  tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
  }

  .header {
    margin-bottom: 50px;
  }

  .header>table>tbody>tr {
    background-color: #fff;
  }
</style>
