<section class="content-header">
  <h1>
    <%= I18n.t('report.one') %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <strong><%= I18n.t('activerecord.models.research.one') %>: </strong>
          <%= @report[:research][:name] %>,

          <strong><%= I18n.t('report.research.general_labels.type') %>: </strong>
          <%= I18n.t('report.research.ranking.' << @report[:type]) %>,

          <% if @report[:filters][:category_name].present? %>
            <strong><%= I18n.t('activerecord.models.category.one') %>: </strong>
            <%= @report[:filters][:category_name] %>,
          <% end %>

          <% if @report[:filters][:company_name].present? %>
            <strong><%= I18n.t('activerecord.models.company.one') %>: </strong>
            <%= @report[:filters][:company_name] %>,
          <% end %>

          <strong><%= I18n.t('report.research.general_labels.period') %>: </strong>
          <%= "#{@report[:period][:start]} - #{@report[:period][:end]}" %>

          <div class="pull-right clearfix">
            <%= button_to_generate_file(@report, :pdf) %>
            <%= button_to_generate_file(@report, :xlsx) %>
          </div>
        </div>
        <div class="box-body">
          <div id="table_list_wrapper" class="form-inline table-responsive">
            <table id="table_list" class="table" role="grid">
              <thead>
                <tr role="row">
                  <% @report[:titles].each do |title| %>
                    <th class="text-center">
                      <%= title %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @report_data.each do |data_row| %>
                  <tr>
                    <% data_row.each do |data| %>
                      <td class="text-center">
                        <%= data %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="box-footer" >
              <%= link_to raw(I18n.t('button.back')), report_researches_path,
                class: 'btn btn-default btn-margin' %>
              <div class="pull-right">
                <%= render 'layouts/application/pagination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .btn-margin {
    margin-top: 8%;
  }

  td {
    border: 1px solid #c9c9c9;
  }

  .table > thead:first-child > tr:first-child > th {
    border: 1px solid #c9c9c9;
  }

  table {
    border-collapse: collapse;
  }

  tbody>tr:nth-child(odd) {
    background-color: #ddd;
  }
</style>
