<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-sm-12">
        <%= f.input :title %>
      </div>
      <div class="col-md-12 col-lg-4 col-sm-12">
        <%= f.input :institute_id, as: :select, collection: @institutes, include_blank: true,
          selected: (f.object.institute.id if f.object.institute),
          input_html: { class: 'select2', style: 'width: 100%' } %>
      </div>
      <div class="col-md-2 col-lg-1 col-sm-12">
        <%= f.input :scheduled, wrapper_html: { class: 'form-check-input'} %>
      </div>
      <div class="col-md-6 col-lg-2 col-sm-12">
        <%= f.input :schedule, as: :string, required: true, input_html: { class: :datepicker, autocomplete: false,
          value: f.object.schedule ? l(f.object.schedule.to_date): nil } %>
      </div>
      <div class="col-md-4 col-lg-1 col-sm-12">
        <%= f.input :hour, as: :string, required: true, input_html: { class: :timepicker,
          value: f.object.schedule ? "#{f.object.schedule.hour}:#{f.object.schedule.min}" : nil } %>
      </div>
    </div>
    <%= f.input :message, as: :text %>
  </div>
</div>

<script>
  $(function(){
    if ($('#notification_scheduled').prop('checked')) {
      $('.notification_schedule').removeClass('hidden')
      $('.notification_hour').removeClass('hidden')
    } else {
      $('.notification_schedule').addClass('hidden')
      $('.notification_hour').addClass('hidden')
      $('#notification_schedule').val(null)
      $('#notification_hour').val(null)
    }

    $('#notification_scheduled').on('change', function(){
      if(this.checked){
        $('.notification_schedule').removeClass('hidden')
        $('.notification_hour').removeClass('hidden')
      } else {
        $('.notification_schedule').addClass('hidden')
        $('.notification_hour').addClass('hidden')
        $('#notification_schedule').val(null)
        $('#notification_hour').val(null)
      }
    })
  })
</script>
