<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-12">
            <div class="row">
              <%= link_to raw("<i class='fa fa-plus'></i> " << I18n.t('button.register')), new_notification_path,
                class: 'btn btn-sm btn-primary btn-new' %>
              </button>
              <div class="pull-right", style="padding: 0px !important;">
                <%= render 'layouts/application/search', path: notifications_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div id="table_list_wrapper" class="form-inline dt-bootstrap">
          <div class="table-responsive">
            <table id="table_list" class="table" role="grid">
              <div class="content-action-new content-action-new col-sm-6">
              </div>
              <thead>
                <tr role="row">
                  <th><%= I18n.t('activerecord.attributes.notification.title')%></th>
                  <th><%= I18n.t('activerecord.attributes.notification.institute')%></th>
                  <th class="text-center"><%= I18n.t('activerecord.attributes.notification.status')%></th>
                  <th class="text-center"><%= I18n.t('activerecord.attributes.notification.schedule_to')%></th>
                  <th class="text-center"><%= I18n.t('actions')%></th>
                </tr>
              </thead>
              <tbody>
                <% @notifications.each do |object| %>
                  <tr id="<%= dom_id object %>">
                    <td>
                      <%= object.title %>
                    </td>
                    <td>
                      <%= object.institute %>
                    </td>
                    <td class="text-center">
                      <%= tag_status(object) %>
                    </td>
                    <td class="text-center">
                      <%= object.schedule.present? ? l(object.schedule) : I18n.t('activerecord.attributes.notification.no_schedule') %>
                    </td>
                    <td class="text-center" style="width: 150px;">
                      <% if object.awaiting? %>
                        <%= link_publish(object, path: :publish_notification_path) %>
                        <%= link_cancel_publication(object, path: :cancel_publication_notification_path) %>
                      <% end %>

                      <%= link_show(object, path: :notification_path) %>
                      <%= link_edit(object, path: :edit_notification_path) %>
                      <%= link_destroy(object, path: :notification_path) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= render 'layouts/application/pagination' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
