<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12">
              <h1><%= @notification.title %></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= tag_status(@notification) %>
              <span class="info-tags" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('messages.tooltip.start_date') %>">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= @notification.schedule? ? l(@notification.schedule) : I18n.t('activerecord.attributes.notification.no_schedule') %>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <%= @notification.message %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to raw(I18n.t('button.back')), notifications_path, class: 'btn btn-default' %>
          <%= link_to raw(I18n.t('button.edit')), edit_notification_path(@notification), class: "btn btn-primary pull-right" if policy(@notification).edit? %>
        </div>
      </div>
    </div>
  </div>
</section>
