<% if params[:select_id].present? %>
  <% attr_name = params[:attr_name] || 'name' %>
  <% opts = @collection %>

  <% if params[:attr_name].nil? %>
    <% opts.sort_by { |item| item.send(attr_name) } %>
  <% end %>

  <% opts = opts.map { |c| [c.send(attr_name), c.id] }.insert(0, ['', '']) %>

  $("<%= params[:select_id] %>").html('<%= escape_javascript(options_for_select(opts)) %>;');
<% end %>
