<div class="bootbox modal in" id="modal-window">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-chart-title"></h4>
      </div>
      <div class="modal-body">
        <div id="chart-box"></div>
      </div>
    </div>
  </div>
</div>
