$(function () {
  var type_chart = '<%= type_chart %>'
  var title = '<%= I18n.t('home.titles.' << type_chart) %>'

  $('#modal-window').modal('show')

  $('#modal-chart-title').html(title)

  switch(type_chart) {
    case 'users':
      var modalData = {
        labels: Object.values(newUsersOfTheWeek.all),
        datasets: [{
          label: newUsersLegend,
          data: Object.values(newUsersOfTheWeek.all),
          fill: false,
          pointHoverBackgroundColor: '#DD4B39',
          lineTension: 0.1,
          backgroundColor: '#DD4B39',
          borderColor: '#DD4B39',
          pointBackgroundColor: '#DD4B39'
        },
        {
          label: newUsersFromAppLegend,
          data: Object.values(newUsersOfTheWeek.app),
          fill: false,
          pointHoverBackgroundColor: '#00C0EF',
          lineTension: 0.1,
          backgroundColor: '#00C0EF',
          borderColor: '#00C0EF',
          pointBackgroundColor: '#00C0EF'
        },
        {
          label: newUsersFromSiteLegend,
          data: Object.values(newUsersOfTheWeek.site),
          fill: false,
          pointHoverBackgroundColor: '#00A65A',
          lineTension: 0.1,
          backgroundColor: '#00A65A',
          borderColor: '#00A65A',
          pointBackgroundColor: '#00A65A'
        }]
      }

      var modalOptions = {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
      var type = 'line'
    break
    case 'company':
      var type = 'pie'
      var modalOptions = {
        legend: {
          position: 'bottom',
          fullWidth: true
        },
      }

      var modalData = {
        labels: Object.keys(votesByCompany),
        datasets: [{
          data: Object.values(votesByCompany),
          backgroundColor: Object.keys(votesByCompany).map(() => getRandomColor())
        }]
      }
    break
    case 'category':
      var type = 'pie'
      var modalOptions = {
        legend: {
          position: 'bottom',
          fullWidth: true
        },
      }

      var modalData = {
        labels: Object.keys(votesByCategory),
        datasets: [{
          data: Object.values(votesByCategory),
          backgroundColor: Object.keys(votesByCategory).map(() => getRandomColor())
        }]
      }
    break
    case 'day':
      var modalData = {
        labels: Object.keys(votesByDay),
        datasets: [{
          label: votesLegend,
          data: Object.values(votesByDay),
          backgroundColor: 'rgba(0, 192, 239, 0.5)',
          borderWidth: 1
        }]
      }

      var modalOptions = {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }

      var type = 'bar'

    break
    default:
      return null
  }

  $('div#chart-box').html('<canvas id="modal_chart"></canvas>');

  var ctx = $('#modal_chart').get(0).getContext('2d')

  var chart = new Chart(ctx, {
    type: type,
    data: modalData,
    options: modalOptions
  })
})

function getRandomColor() {
  var letters = '0123456789ABCDEF'
  var color = '#'
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)]
  }
  return color
}
