<section class="content-header">
  <h1>
    <%= I18n.t('home.screen') %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= @count_researches %></h3>
          <p><%= I18n.t('home.box.open_researches') %></p>
        </div>
        <div class="icon">
          <i class="fa fa-search"></i>
        </div>
        <%= link_more_info(path: :researches_path) %>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= @count_events %></h3>
          <p><%= I18n.t('home.box.scheduled_events') %></p>
        </div>
        <div class="icon">
          <i class="fa fa-calendar"></i>
        </div>
        <%= link_more_info(path: :events_path) %>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= @count_raffles %></h3>
          <p><%= I18n.t('home.box.open_raffles') %></p>
        </div>
        <div class="icon">
          <i class="fa fa-ticket"></i>
        </div>
        <%= link_more_info(path: :raffles_path) %>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= @count_promotions %></h3>
          <p><%= I18n.t('home.box.open_promotions') %></p>
        </div>
        <div class="icon">
          <i class="fa fa-tags"></i>
        </div>
        <%= link_more_info(path: :promotions_path) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-building-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"><%= I18n.t('activerecord.models.company.other') %></span>
          <span class="info-box-number"><%= @count_companies %></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-light-blue"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"><%= I18n.t('activerecord.models.user.other') %></span>
          <span class="info-box-number"><%= @count_users %></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"><%= I18n.t('activerecord.models.research_participant.other') %></span>
          <span class="info-box-text"><%= I18n.t('home.participant.of_raffle') %></span>
          <span class="info-box-number"><%= @count_tickets %></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text"><%= I18n.t('activerecord.models.research_participant.other') %></span>
          <span class="info-box-text"><%= I18n.t('home.participant.of_promotions') %></span>
          <span class="info-box-number"><%= @count_coupons %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <% if @new_users_of_the_week.present? %>
        <div class="box box-primary">
          <div class="box-header with-border">
          <i class="fa fa-users"></i>
          <h3 class="box-title"><%= I18n.t('home.titles.users') %></h3>
            <div class="box-tools pull-right">
              <%= link_render_modal('users') %>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="users_by_day"></canvas>
            </div>
          </div>
        </div>
      <% end %>
      <% if @total_votes_by_day %>
        <div class="box box-primary">
          <div class="box-header with-border">
            <i class="fa fa-calendar"></i>
            <h3 class="box-title"><%= I18n.t('home.titles.day') %></h3>
            <div class="box-tools pull-right">
              <%= link_render_modal('day') %>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="vote_by_day_chart"></canvas>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 col-xs-12">
      <% if @votes_by_category %>
        <div class="box box-info">
          <div class="box-header with-border">
          <i class="fa fa-th-large"></i>
            <h3 class="box-title"><%= I18n.t('home.titles.category') %></h3>
            <div class="box-tools pull-right">
              <%= link_render_modal('category') %>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="vote_by_category_chart"></canvas>
            </div>
          </div>
        </div>
      <% end %>
      <% if @votes_by_company %>
        <div class="box box-success">
          <div class="box-header with-border">
          <i class="fa fa-building"></i>
            <h3 class="box-title"><%= I18n.t('home.titles.company') %></h3>
            <div class="box-tools pull-right">
              <%= link_render_modal('company') %>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <canvas id="vote_by_company_chart"></canvas>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <div>
  <%= render 'modal' %>
</section>
<script>
  <% if @user_current_institute %>
    var votesByDay = <%== @total_votes_by_day.to_json %>
    var votesByCategory = <%== @votes_by_category.to_json %>
    var votesByCompany = <%== @votes_by_company.to_json %>
    var newUsersOfTheWeek = <%== @new_users_of_the_week.to_json %>
    var newUsersLegend = '<%= I18n.t('home.titles.users') %>'
    var newUsersFromAppLegend = '<%= I18n.t('home.charts.legends.users.app') %>'
    var newUsersFromSiteLegend = '<%= I18n.t('home.charts.legends.users.site') %>'
    var votesLegend = '<%= I18n.t('activerecord.models.vote.other') %>'
  <% end %>
</script>
<%= javascript_pack_tag "home" %>
