<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :name, input_html: { autocomplete: false } %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :email, label: "E-mail #{I18n.t('crud.abbr')}".html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :institute_id, as: :select, collection: @institutes, include_blank: true,
          selected: (f.object.institute.id if f.object.institute),
          input_html: { class: 'select2', style: 'width: 100%' } %>
      </div>
      <div class="col-md-3 col-sm-12">
        <%= f.input :role, as: :select, collection: User.translated_roles.reject{|it| it[1] == 'regular' } %>
      </div>
      <div class="col-md-3 col-sm-12">
        <%= f.label :avatar, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.enter_institute_image') %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :avatar, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :avatar_cache %>
            </span>
          </label>
            <input type="text" class="form-control" readonly
              placeholder='<%= @user.avatar.identifier.present? ? @user.avatar.identifier : @user.avatar.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:avatar)}</div>") unless f.full_error(:avatar).blank? %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <%= f.input :password %>
      </div>
      <div class="col-md-5 col-sm-12">
        <%= f.input :password_confirmation %>
      </div>
      <div class="col-md-2 col-sm-12">
        <%= f.input :active, wrapper_html: { class: 'form-check-input'} %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#user_password').on('change', function(){
    if($(this).val() != ""){
      $('#user_password_confirmation').empty().prop('required', true)
    } else {
      $('#user_password_confirmation').empty().prop('required', false)
    }
  })

  $('#user_password_confirmation').on('keyup', function(){
    if($('#user_password').val() != $(this).val()){
      if($(this).val() == "") {
        $(".user_password_confirmation div:last-child").remove()
        return $(this).closest('.form-group')
          .append("<div class='invalid-feedback confirm-pass'>"+<%= I18n.t('crud.required' )%>+"!</div>")
      }
      $(".user_password_confirmation div:last-child").remove()
      $(this).closest('.form-group').append("<div class='invalid-feedback confirm-pass'>Senhas diferentes!</div>")
    } else {
      $(".user_password_confirmation div:last-child").remove()
    }
  })
</script>
