<section class="content-header">
  <h1>
    <%= I18n.t('crud.edit', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @user do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'backend/users/form', f: f %>
        <%= link_to raw(I18n.t('button.back')), users_path, class: 'btn btn-default' %>
        <%= f.button :submit, I18n.t('button.save'), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</section>
