<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-12">
            <div class="row">
              <%= link_to raw("<i class='fa fa-plus'></i> " << I18n.t('button.register')), new_user_path,
                class: 'btn btn-sm btn-primary btn-new' %>
              <div class="pull-right", style="padding: 0px !important;">
                <%= render 'layouts/application/search', path: users_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div id="table_list_wrapper" class="form-inline dt-bootstrap">
            <div class="table-responsive">
              <table id="table_list" class="table" role="grid">
                <thead>
                  <tr role="row">
                    <th><%= I18n.t('activerecord.attributes.user.name') %></th>
                    <th><%= I18n.t('activerecord.attributes.user.email') %></th>
                    <th><%= I18n.t('activerecord.attributes.user.institute_id') %></th>
                    <th class="text-center"><%= I18n.t('activerecord.attributes.user.active') %>?</th>
                    <th class="text-center"><%= I18n.t('actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |object| %>
                    <tr id="<%= dom_id object %>">
                      <td>
                        <%= object.name %>
                      </td>
                      <td>
                        <%= object.email %>
                      </td>
                      <td>
                        <%= object.institute&.social_name %>
                      </td>
                      <td class="text-center">
                        <% if object.active %>
                          <i class="fa fa-check-circle green" aria-hidden="true"></i>
                        <% else %>
                          <i class="fa fa-times-circle red" aria-hidden="true"></i>
                        <% end %>
                      </td>
                      <td class="text-center">
                        <%= link_to raw("<i class='fa fa-eye icon-action'></i>"),
                          user_path(object), data: { toggle: :tooltip, placement: :top },
                          title: I18n.t('button.view') %>

                        <%= link_to raw("<i class='fa fa-pencil-square-o icon-action'></i>"),
                          edit_user_path(object), data: { toggle: :tooltip, placement: :top },
                          title: I18n.t('button.edit') %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="pull-right">
                <%= render 'layouts/application/pagination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
