<section class="content-header">
  <h1>
    <%= I18n.t('general.my_profile') %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @user, url: me_path do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
          </div>
          <div class="box-body">
            <%= f.input :id, as: :hidden %>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <%= f.input :name %>
              </div>
              <div class="col-md-6 col-sm-12">
                <%= f.input :email, label: "E-mail #{I18n.t('crud.abbr')}".html_safe %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <%= f.label :avatar, data: { toggle: :tooltip, placement: :right },
                  title: 'Insira uma imagem que represente a Entidade' %>
                <div class="input-group">
                  <label class="input-group-btn">
                    <span class="btn btn-primary">
                      Upload
                      <%= f.file_field :avatar, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
                      <%= f.hidden_field :avatar_cache %>
                    </span>
                  </label>
                    <input type="text" class="form-control" readonly
                      placeholder='<%= @user.avatar.identifier.present? ? @user.avatar.identifier : @user.avatar.filename %>'>
                </div>
                <%= raw("<div class='invalid-feedback'>#{f.full_error(:avatar)}</div>") unless f.full_error(:avatar).blank? %><br>
              </div>
              <div class="col-md-4 col-sm-12">
                <%= f.input :password %>
              </div>
              <div class="col-md-4 col-sm-12">
                <%= f.input :password_confirmation %>
              </div>
            </div>
          </div>
        </div>
        <%= link_to raw(I18n.t('button.back')), '/', class: 'btn btn-default' %>
        <%= f.button :submit, I18n.t('button.save'), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</section>

<script>
  $('#user_password').on('change', function(){
    if($(this).val() != ""){
      $('#user_password_confirmation').empty().prop('required', true)
    } else {
      $('#user_password_confirmation').empty().prop('required', false)
    }
  })

  $('#user_password_confirmation').on('keyup', function(){
    if($('#user_password').val() != $(this).val()){
      if($(this).val() == "") {
        $(".user_password_confirmation div:last-child").remove()
        return $(this).closest('.form-group')
          .append("<div class='invalid-feedback confirm-pass'>"+<%= I18n.t('crud.required' )%>+"!</div>")
      }
      $(".user_password_confirmation div:last-child").remove()
      $(this).closest('.form-group').append("<div class='invalid-feedback confirm-pass'>Senhas diferentes!</div>")
    } else {
      $(".user_password_confirmation div:last-child").remove()
    }
  })
</script>
