<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-widget widget-user">
        <div class="widget-user-header bg-white" style="padding: 0px 0px;">
          <img class='img-box-research img-fluid'>
        </div>
        <div class="widget-user-image">
          <% if current_user.avatar.present? %>
            <%= image_tag(@user.avatar.medium.url, size: "100x100", class: "profile-user-img show-profile-img img-circle") %>
          <% else %>
            <img src="/default-icon-user.jpg" class="profile-user-img show-profile-img img-circle">
          <% end %>
        </div>
        <div class="box-footer">
          <h3 class="profile-username text-center"><%= @user.name %></h3>
          <p class="text-muted text-center"><%= @user.email %></p>
          <hr>
          <div class="col-sm-6 border-right">
            <div class="description-block">
              <label><%= I18n.t('activerecord.attributes.user.institute_id') %>:</label> <%= @user.institute.trade_name %>
            </div>
          </div>
          <div class="col-sm-6 border-right">
            <div class="description-block">
              <% if @user.active? %>
                <span class="label label-success">
                  <%= I18n.t('activerecord.attributes.user.active') %>
                </span>
              <% else %>
                <span class="label label-danger">
                  <%= I18n.t('activerecord.attributes.user.inactive') %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to raw(I18n.t('button.back')), user_path, class: 'btn btn-default' %>
  <%= link_to raw(I18n.t('button.edit')), edit_user_path(@user), class: "btn btn-primary pull-right" %>
</section>
