<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <%= f.input :institute_id, as: :hidden, html_input: { value: @institute.id } %>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <%= f.input :name %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.input :item_type, as: :select, collection: Item.translated_item_types %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= f.label :image, data: { toggle: :tooltip, placement: :right },
          title: I18n.t('messages.tooltip.enter_item_image') %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :image, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :image_cache %>
            </span>
          </label>
          <input type="text" class="form-control" readonly
            placeholder='<%= @item.image.identifier.present? ? @item.image.identifier : @item.image.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:image)}</div>") unless f.full_error(:image).blank? %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.label :description %>
        <%= f.rich_text_area :description %>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:description)}</div>") unless f.full_error(:description).blank? %>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <%= link_to raw(I18n.t('button.back')), institute_path(@institute), class: 'btn btn-default' %>
    <%= f.button :submit, I18n.t('button.save'), class: "btn btn-primary pull-right" %>
</div>
