<div class="col-xs-12">
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title"><%= I18n.t('activerecord.attributes.item.item_type_list.full') %></h3>
    </div>
    <div class="box-body">
      <div id="table_list_wrapper" class="form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table id="table_list" class="table" role="grid">
                <div class="content-action-new col-sm-6">
                  <%= link_to raw("<i class='fa fa-plus'></i> " << I18n.t('button.register')),
                    new_institute_item_path(institute), class: 'btn btn-sm btn-primary btn-new' %>
                </div>
                <thead>
                  <tr role="row">
                    <th><%= I18n.t('activerecord.attributes.item.name') %></th>
                    <th class="text-center"><%= I18n.t('activerecord.attributes.item.item_type') %></th>
                    <th class="text-center"><%= I18n.t('actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @institute.items.each do |item| %>
                    <tr id="<%= dom_id item %>">
                      <td>
                        <%= item.name %>
                      </td>
                      <td class="text-center">
                        <%= item.translated_item_type %>
                      </td>
                      <td class="text-center">
                        <%= link_to raw("<i class='fa fa-eye icon-action'></i>"),
                          institute_item_path(institute, item), data: { toggle: :tooltip, placement: :top },
                          title: I18n.t('button.view') %>
                        <%= link_to raw("<i class='fa fa-pencil-square-o icon-action'></i>"),
                          edit_institute_item_path(institute, item), data: { toggle: :tooltip, placement: :top },
                          title: I18n.t('button.edit') %>
                        <%= link_to raw("<i class='fa fa-trash icon-action red'></i>"),
                          institute_item_path(institute, item), method: :delete,
                          data: { confirm: I18n.t('messages.confirm.sure'), toggle: :tooltip, placement: :top },
                          title: I18n.t('button.destroy') %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
