<section class="content-header">
  <h1>
    <%= I18n.t('crud.edit',
      resource: I18n.t('activerecord.attributes.item.item_type_list.product/type')) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @item, url: institute_item_path(@institute, @item), method: :put do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= render 'backend/items/form', f: f %>
      </div>
    </div>
  <% end %>
</section>
