<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <%= image_tag(@item.image.large.url, class: 'img-box img-fluid') %>
        <div class="box-body">
          <h3 class="profile-username text-center"><%= @item.name %></h3>
          <p class="text-muted text-center"><%= @item.translated_item_type %></p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t('activerecord.attributes.item.description') %></h3>
        </div>
        <div class="box-body box-body-info">
          <% if @item.description.present? %>
            <div class="box box-solid box-content-info">
              <%= @item.description %>
            </div>
          <% else %>
            <%= I18n.t('general.undefined') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to raw(I18n.t('button.back')), institute_path(@institute), class: 'btn btn-default' %>
  <%= link_to raw(I18n.t('button.edit')), edit_institute_item_path(@institute, @item), class: "btn btn-primary pull-right" %>
</section>
