<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-mini"><b>AC</b></span>
    <span class="logo-lg"><b>App</b>Comunica</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <%= render 'layouts/application/user_settings' %>
      </ul>
    </div>
  </nav>
</header>
