<% if can? :manage, model.constantize %>
  <li class='<%= controller == controller_name ? "active" : "" %>'>
    <%= link_to raw("<i class='#{icon}'></i> <span>#{I18n.t("controllers.#{controller}")}</span>"), send("#{controller}_path") %>
  </li>
<% end %>
