<%= simple_form_for :search, wrapper: :inline_form,
  html: { id: 'form_search', class: 'form-inline dt-bootstrap' },
  url: path, method: :get do |f| %>
  <div class="input-group input-group-sm">
    <%= f.input :value, placeholder: "Pesquisa",
      input_html: { style: 'width: 100%', value: params[:search].present? ? params[:search][:value] : "" } %>
    <span class="input-group-btn">
    <%= link_to raw('<i class="fa fa-search" aria-hidden="true"></i>'), "#",
      class: "btn btn-primary btn-flat", :onclick => "$('#form_search').submit()" %>
    </span>
  </div>
<% end %>
