<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <%= menu('Ad', 'fa fa-window-maximize') %>
      <%= menu('Category', 'fa fa-th-large') %>
      <%= menu('Company', 'fa fa-building') %>
      <%= menu('Institute', 'fa fa-university') %>
      <%= menu('Event', 'fa fa-calendar') %>
      <%= menu('Post', 'fa fa-newspaper-o') %>
      <%= menu('Research', 'fa fa-search') %>
      <%= menu('Notification', 'fa fa-bell') %>
      <% if @current_user.full_manager? %>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file"></i> <span><%= I18n.t('report.other') %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <%= submenu('Report_research', access: 'Research') %>
          </ul>
        </li>
      <% end %>
      <%= menu('Promotion', 'fa fa-tags') %>
      <%= menu('Raffle', 'fa fa-ticket') %>
      <%= menu('User', 'fa fa-users') %>
    </ul>
  </section>
</aside>
