<li id='sub_<%= controller %>' menu='<%= menu %>'>
  <% name = I18n.t("submenu.#{controller}") %>
  <% if level == 1 %>
    <% if can? :manage, menu[:access].constantize %>
      <%= link_to raw("<span>#{name}</span>"), send(controller.downcase.pluralize + '_path', params) %>
    <% end %>
  <% else %>
    <%= link_to raw("<span>#{name}</span>"), send(controller + '_path', params) if can? :manage, menu[:access].constantize %>
  <% end %>
</li>
