<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <% if current_user.avatar.present? %>
      <%= image_tag(current_user.avatar_url, class: "user-image") %>
    <% else %>
      <img src="/default-icon-user.jpg" class="user-image">
    <% end %>
    <span class="hidden-xs"><%= current_user.name %></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to raw("<i class='fa fa-user'></i> " << I18n.t('general.my_profile')), me_path, class: 'text-black' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to raw("<i class='fa fa-sign-out'></i> " << I18n.t('button.log_out')), destroy_user_session_path,
      class: 'text-black', id: 'sign-out', method: :delete %>
    </li>
  </ul>
</li>
