<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-5">
        <%= f.input :name %>
      </div>
      <div class="col-sm-4">
        <%= f.input :institute_id, as: :select, collection: @institutes, include_blank: true,
          selected: (f.object.institute.id if f.object.institute),
          input_html: { class: 'select2', style: 'width: 100%' } %>
      </div>
      <div class="col-sm-3">
        <%= f.input :expire_at, as: :string, include_blank: true,
          input_html: { class: :datepicker, style: 'width: 100%',
          value: f.object.expire_at ? l(f.object.expire_at, format: :date): nil } %>
      </div>
    </div>
    <div class="nested-fields">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <%= f.input :local, as: :select, collection: Ad.translated_locals %>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-12">
          <%= f.label :image, data: { toggle: :tooltip, placement: :right },
            title: I18n.t('messages.tooltip.enter_ad_banner_image') %>
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-primary">
                Upload
              <%= f.file_field :image, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :image_cache %>
              </span>
            </label>
            <input type="text" class="form-control" readonly
              placeholder='<%= f.object.image.identifier.present? ? f.object.image.identifier : f.object.image.filename %>'>
          </div>
          <%= raw("<div class='invalid-feedback'>#{f.full_error(:image)}</div>") unless f.full_error(:image).blank? %><br>
        </div>
      </div>
    </div>

