<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <%= can_create_ad? do %>
          <div class="box-header with-border">
            <div class="col-sm-12">
              <div class="row">
                <%= link_to raw("<i class='fa fa-plus'></i> " << I18n.t('button.register')), new_ad_path,
                  class: 'btn btn-sm btn-primary btn-new' %>
                <div class="pull-right", style="padding: 0px !important;">
                  <%= render 'layouts/application/search', path: ads_path %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="box-body">
          <div class="table-responsive">
            <table id="table_list" class="table" role="grid">
              <div class="content-action-new col-sm-6">
              </div>
              <thead>
                <tr role="row">
                  <th><%= I18n.t('activerecord.attributes.ad.name') %></th>
                  <th><%= I18n.t('activerecord.attributes.ad.institute_id') %></th>
                  <th><%= I18n.t('activerecord.attributes.ad.locale') %></th>
                  <th><%= I18n.t('activerecord.attributes.ad.expire_at') %></th>
                  <th class="text-center"><%= I18n.t('activerecord.attributes.ad.status') %></th>
                  <th class="text-center"><%= I18n.t('actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @ads.each do |object| %>
                  <tr>
                    <td>
                      <%= object.name %>
                    </td>
                    <td>
                      <%= object.institute.social_name %>
                    </td>
                    <td>
                      <%= object.translated_local %>
                    </td>
                    <td>
                      <%= l(object.expire_at.to_date) %>
                    </td>
                    <td class="text-center">
                      <%= ad_status(object) %>
                    </td>
                    <td class="text-center">
                      <%= link_to raw("<i class='fa fa-pencil-square-o icon-action'></i>"),
                        edit_ad_path(object), data: { toggle: :tooltip, placement: :top },
                        title: I18n.t('button.edit') %>

                      <%= link_to raw("<i class='fa fa-trash icon-action red'></i>"),
                        ad_path(object), method: :delete,
                        data: { confirm: I18n.t('messages.confirm.sure'), toggle: :tooltip, placement: :top },
                        title: I18n.t('button.destroy') %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= render 'layouts/application/pagination' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
