<% flash_messages.each do |type, message| %>
  <div class="alert alert-<%= flash_context_map(type) %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <span><i class="fa fa-<%= flash_icons(type) %>"></i> <%= message %></span>
  </div>
<% end %>
