<title>AppComunica</title>
<meta name="viewport" content="width=device-width, user-scalable=no">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_pack_tag 'app', media: 'all' %>
<%= javascript_pack_tag 'app' %>
