<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/application/header' %>
      <%= render 'layouts/application/sidebar' %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
