<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a><b>App</b>Comunica</a>
      </div>
      <div class="login-box-body">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
