<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      div {
        text-align: center;
      }

      p,
      b {
        color: #333333;
        font-size: 25px;
        font-family: courier;
      }

      .mail-div-head {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #3c8dbc;
      }

      .mail-head {
        padding: 15px;
        color: white;
        font-size: 25px;
        font-family: courier;
      }

      .user-head{
        color: #3c8dbc;
        font-size: 40px;
      }

      table {
        width:100%;
        text-align: center;
      }

      td, th {
        text-align: center;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #ddd;
      }

      tr:nth-child(odd) {
        background-color: white;
      }

      th {
        background-color: #3c8dbc;
        color: white;
      }
    </style>
  </head>

  <body>
    <% if @institute&.logo.present? %>
      <div>
        <%= image_tag(
          @institute.logo.medium.url,
          size: "120x120",
          class: "profile-user-img show-profile-img img-circle")
        %>
      </div>
    <% end %>

    <%= yield %>

    <% if @institute.present? %>
      <div style="padding-top: 30px;">
        <p>Abraços,</p>
      </div>

      <div>
          <p>Equipe <%= @institute.trade_name %>.</p>
      </div>

      <div style="background-color: #f9f9f9">
        <p style="padding-top: 30px;padding-bottom: 30px;color: black;font-size: 20px;">
          Atendimento 24 horas<br>Em caso de qualquer dúvida, fique a vontade para responder<br>
          esse email ou nos contactar no
          <a href=<%= "mailto: #{@institute.contact.email}" %>'><%= @institute.contact.email %></a>
        </p>
      </div>
    <% end %>
  </body>
</html>
