<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('activerecord.models.contact.one') %></h3>
  </div>
  <div class="box-body">
    <%= f.simple_fields_for :contact_attributes, f.object.contact || f.object.build_contact do |c| %>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <%= c.input :phone, input_html: { class: 'phone', size: 12, maxlength: 15 } %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= c.input :email %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= c.input :whatsapp_phone, input_html: { class: 'phone', size: 12, maxlength: 15 } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.phone').on('input', function(e) {
    $(this).val(function(inputRef, inputValue) {
      return inputValue.replace(/[^\d]/gi, '')
    })
  })
</script>
