<section class="content-header">
  <h1>
    <%= I18n.t('crud.edit', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <%= simple_form_for @category do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <%= f.input :name %>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <%= link_to raw(I18n.t('button.back')), categories_path, class: 'btn btn-default' %>
            <%= f.button :submit, I18n.t('button.save'), class: "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
