<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-12">
            <div class="row">
              <%= link_to raw("<i class='fa fa-plus'></i> " << I18n.t('button.register')), new_category_path,
                class: 'btn btn-sm btn-primary btn-new' %>
              <div class="pull-right", style="padding: 0px !important;">
                <%= render 'layouts/application/search', path: categories_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table id="table_list" class="table" role="grid">
              <div class="content-action-new col-sm-6">
              </div>
              <thead>
                <tr role="row">
                  <th><%= I18n.t('activerecord.attributes.category.name') %></th>
                  <th class="text-center"><%= I18n.t('actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @categories.each do |object| %>
                  <tr id="<%= dom_id object %>">
                    <td>
                      <%= object.name %>
                    </td>
                    <td class="text-center">
                      <%= link_to raw("<i class='fa fa-pencil-square-o icon-action'></i>"),
                        edit_category_path(object), data: { toggle: :tooltip, placement: :top },
                        title: I18n.t('button.edit') %>

                      <%= link_to raw("<i class='fa fa-trash icon-action red'></i>"),
                        category_path(object), method: :delete,
                        data: { confirm: I18n.t('messages.confirm.sure'), toggle: :tooltip, placement: :top },
                        title: I18n.t('button.destroy') %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= render 'layouts/application/pagination' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
