<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('general.participant_companies') %></h3>
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% if @categories.present? %>
      <label>
        <%= f.check_box :select_all, class: 'check-all', id: 'check_all', checked: @is_all_selected %>
        <span class="lbl">Selecione todas as empresas disponíveis</span>
      </label>
      <% @categories.each do |category| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= category.id %>">
            <label>
              <%= check_box_tag "categories[]",
                category.id,
                checked = @selected_companies_by_category[category.id] ==
                  @total_companies_by_category[category.id],
                id:"check_all_companies_from_category#{category.id}",
                class: "category_checkbox", data: { "unchanged": true }%>
              <span class="lbl">Selecione todas as empresas desta categoria</span>

            </label>
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <h4 class="panel-title">
                  <%= category.name %>
                </h4>
              </div>
              <div class="col-md-3 col-sm-3">
              </div>
              <div class="col-md-1 col-sm-1">
                <a class="collapsed category"
                  role="button"
                  id="<%= category.id %>"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse<%= category.id %>"
                  aria-expanded="false"
                  aria-controls="collapse<%= category.id %>">
                    <i class="fa fa-lg"></i>
                </a>
              </div>
            </div>
          </div>
          <div id="collapse<%= category.id %>"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading<%= category.id %>">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <div id="table_list_wrapper" class="form-inline dt-bootstrap">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="table-responsive <%= category.id %>">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <input type="text" id="tableData" name="companies" hidden>
    <input type="text" id="unchanged-values" name="unchanged_values" hidden>
  </div>
</div>

<script type="text/javascript">
  var tableData = <%== @data_table_values || {}%>
  var action = '<%= params[:action] %>'
  var instituteId = '<%= @institute&.id %>'
  var researchId = '<%= @research&.id %>'
  var tradeNameTranslate = '<%= I18n.t('activerecord.attributes.company.trade_name') %>'
  var cnpjTranslate = '<%= I18n.t('activerecord.attributes.company.cnpj') %>'
  var emailTranslate = '<%= I18n.t('activerecord.attributes.company.email') %>'
</script>

<style>
  table.dataTable tbody tr.selected {
    color: #333;
    background-color: #fff;
  }

  .panel-group {
    padding: 1%;
  }

  .input-group {
    height: 30px;
  }

  [data-toggle="collapse"] > .fa:before {
    content: "\f068";
  }

  [data-toggle="collapse"].collapsed > .fa:before {
    content: "\f067";
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
  }
</style>
