<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('general.participant_companies') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="box box-solid">
          <% for category in @categories %>
            <div class="box-body">
              <div id="table_list_wrapper" class="form-inline dt-bootstrap">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading<%= category.id %>">
                    <label>
                      <span>
                        <%= raw I18n.t(
                          'messages.general.research_participants.total_companies_selected',
                          selected_companies: @selected_companies_by_category[category.id],
                          total_companies: @total_companies_by_category[category.id]) %>
                      </span>
                    </label>
                    <div class="row">
                      <div class="col-md-8">
                        <h4 class="panel-title">
                          <%= category.name %>
                        </h4>
                      </div>
                      <div class="col-md-3">
                      </div>
                      <div class="col-md-1">
                        <a class="collapsed category"
                          role="button"
                          id="<%= category.id %>"
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapse<%= category.id %>"
                          aria-expanded="false"
                          aria-controls="collapse<%= category.id %>">
                            <i class="fa fa-lg"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div id="collapse<%= category.id %>"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="heading<%= category.id %>">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div id="table_list_wrapper" class="form-inline dt-bootstrap">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="table-responsive <%= category.id %>">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  [data-toggle="collapse"] > .fa:before {
    content: "\f068";
  }

  [data-toggle="collapse"].collapsed > .fa:before {
    content: "\f067";
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
  }
</style>

<script>
  var action = '<%= params[:action] %>'
  var researchId = '<%= @research&.id %>'
  var tradeNameTranslate = '<%= I18n.t('activerecord.attributes.company.trade_name') %>'
  var cnpjTranslate = '<%= I18n.t('activerecord.attributes.company.cnpj') %>'
  var emailTranslate = '<%= I18n.t('activerecord.attributes.company.email') %>'
</script>
