<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= I18n.t('crud.general_information') %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :name %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :institute, as: :string, collection: @institutes, disabled: true,
          input_html: { value: f.object.institute.present? ? f.object.institute.social_name : @institute.social_name } %>
        <%= f.input :institute_id, as: :hidden,
          input_html: { value: f.object.institute.present? ? f.object.institute.id : @institute.id } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.input :start_at, as: :string, input_html: { class: :datepicker, autocomplete: false,
          value: f.object.start_at ? l(f.object.start_at): nil } %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.input :end_at, as: :string, input_html: { class: :datepicker, autocomplete: false,
          value: f.object.end_at ? l(f.object.end_at): nil } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <%= f.label :logo, data: { toggle: :tooltip, placement: :right },
          title: 'Insira uma imagem que represente a Entidade' %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :logo, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :logo_cache %>
            </span>
          </label>
          <input type="text" class="form-control" readonly
            placeholder='<%= @research.logo.identifier.present? ? @research.logo.identifier : @research.logo.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:logo)}</div>") unless f.full_error(:logo).blank? %><br>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= f.label :banner, data: { toggle: :tooltip, placement: :right },
          title: 'Insira uma imagem que represente a Entidade' %>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Upload
              <%= f.file_field :banner, style: "display: none;", accept: 'image/jpg, image/jpeg, image/png' %>
              <%= f.hidden_field :banner_cache %>
            </span>
          </label>
          <input type="text" class="form-control" readonly
            placeholder='<%= @research.banner.identifier.present? ? @research.banner.identifier : @research.banner.filename %>'>
        </div>
        <%= raw("<div class='invalid-feedback'>#{f.full_error(:banner)}</div>") unless f.full_error(:banner).blank? %><br>
      </div>
    </div>
    <%= f.label :regulation %>
    <%= f.rich_text_area :regulation %>
    <%= raw("<div class='invalid-feedback'>#{f.full_error(:regulation)}</div>") unless f.full_error(:regulation).blank? %><br>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <%= raw("<div class='invalid-feedback'>#{f.full_error(:description)}</div>") unless f.full_error(:description).blank? %>
  </div>
</div>
