<section class="content-header">
  <h1>
    <%= plural %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-12">
            <div class="row">
              <button type="button" class="btn btn-sm btn-primary btn-new"
                data-toggle="modal" data-target="#modal-window">
                <i class='fa fa-plus'></i> <%= I18n.t('button.register') %>
              </button>
              <div class="pull-right", style="padding: 0px !important;">
                <%= render 'layouts/application/search', path: researches_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div id="table_list_wrapper" class="form-inline dt-bootstrap">
            <div class="table-responsive">
              <table id="table_list" class="table" role="grid">
                <thead>
                  <tr role="row">
                    <th><%= I18n.t('activerecord.attributes.research.name') %></th>
                    <th><%= I18n.t('activerecord.attributes.research.institute') %></th>
                    <th class="text-center"><%= I18n.t('activerecord.attributes.research.status') %></th>
                    <th class="text-center"><%= I18n.t('activerecord.attributes.research.published_at') %></th>
                    <th class="text-center"><%= I18n.t('actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @researches.each do |object| %>
                    <tr id="<%= dom_id object %>">
                      <td>
                        <%= object.name %>
                      </td>
                      <td>
                        <%= object.institute.trade_name %>
                      </td>
                      <td class="text-center">
                        <%= tag_status(object) %>
                      </td>
                      <td class="text-center">
                        <%= object.published_at ? l(object.published_at) : '-' %>
                      </td>
                      <td class="text-center" style="width: 150px;">
                        <% if object.awaiting? %>
                          <%= link_publish(object, path: :publish_research_path) %>
                          <%= link_cancel_publication(object, path: :cancel_publication_research_path) %>
                        <% end %>

                        <%= link_show(object, path: :research_path) %>
                        <%= link_edit(object, path: :edit_research_path) %>
                        <%= link_destroy(object, path: :research_path) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="pull-right">
                <%= render 'layouts/application/pagination' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'backend/researches/define_institute' %>
