<section class="content-header">
  <h1>
    <%= I18n.t('crud.view', resource: singular) %>
  </h1>
</section>
<section class="content">
  <%= render 'layouts/flash' %>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-widget widget-user">
        <div class="widget-user-header bg-primary" style="padding: 0px 0px;">
            <%= image_tag(@research.banner.large.url, class: 'img-box-research img-fluid') %>
        </div>
        <div class="widget-user-image">
          <%= image_tag(@research.logo.medium.url, class: "profile-user-img show-profile-img img-circle") %>
        </div>
        <div class="box-footer">
          <h3 class="profile-username text-center"><%= @research.name %></h3>
          <p class="text-muted text-center"><%= @research.institute.social_name %></p>
          <hr>
          <div class="col-sm-6 border-right">
            <div class="description-block">
              <span data-toggle="tooltip" data-placement="top" title="Período da Pesquisa">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= "#{l(@research.start_at)} até #{l(@research.end_at)}" %>
              </span>
            </div>
          </div>
          <div class="col-sm-6 border-right">
            <div class="description-block">
              <%= tag_status(@research) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t('activerecord.attributes.research.regulation') %></h3>
        </div>
        <div class="box-body box-body-research">
          <div class="box box-solid box-content-research">
            <%= @research.regulation %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t('activerecord.attributes.research.description') %></h3>
        </div>
        <div class="box-body box-body-research">
          <div class="box box-solid box-content-research">
            <%= @research.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render 'backend/sponsors/list', research: @research %>
  </div>
  <%= render 'backend/research_participants/show', research_participants: @research.research_participants %>

  <%= link_to raw(I18n.t('button.back')), researches_path, class: 'btn btn-default' %>
  <% if policy(@research).edit? %>
    <%= link_to raw(I18n.t('button.edit')), edit_research_path(@research), class: "btn btn-primary pull-right" %>
  <% end %>
</section>
<script>
  var url = '<%= researches_load_research_participants_path %>'
</script>
<%= javascript_pack_tag "research_participants" %>
