<div class="text-center"><h3>Altere sua senha</h3></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group has-feedback">
    <%= f.label :password, "Nova senha" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div><br>

  <div class="row">
    <div class="actions col-xs-12">
      <%= f.submit "Alterar minha senha", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
