<div class="text-center"><h3>Esqueceu sua senha?</h3></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
    class: "form-control", placeholder: "Email" %>
  </div>

  <div class="row">
    <div class="actions col-xs-12">
      <%= f.submit "Redefinir senha", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
